body {
  background-color: #ddcbcb;
}

h1 {
  color: #875B48;
  text-align: center;
  font-size: 70px;
  font-family:quiksand;
}

h2 {
  color: #875B48;
  text-align: center;
  font-size: 60px;
  font-family:quicksand;
}


h3 {
  color: #374291;
  font-size: 50px;
  text-align: center;
  font-family:quicksand ;
}

p {
  font-family:quicksand;
  text-align: justify;
  font-size: 30px;
  color: black;
}


.Mi-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.Mi-imagen-nueva {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
